body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
    color: green;
}

p {
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

h3 {
    font-style: italic;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

table {
    border: 10px double black;
    border-radius: 30px;
    padding: 5px;
}

table td {
    padding: 7.5px;
    border: 2px solid black;
    border-radius: 100px;
}

table td strong {
    color: darkred;
    text-transform: uppercase;
}

.first,
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main1,
.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.t {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 5px dashed black;
    border-radius: 500px;
}

@media (max-width: 768px) {

    .first,
    .second {
        flex-direction: column;
    }

    .main1,
    .main2 {
        flex-wrap: wrap;
    }


}